<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin panel</title>
</head>
<body>
    <h1 style="text-align: center;" th:text="${'Hello, ' + username}"> ></h1>

    <br>

    <form th:action="@{/admin/all-users}" method="get">
        <button type="submit">All users</button>
    </form>
<br><br>
    <form th:action= "@{/}" method="get">
        <button type="submit">Home page</button>
    </form>
</body>
</html>