<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All user</title>

    <style>
        table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 20px;
        }

        th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
        }

        th {
        background-color: #f2f2f2;
        }

        tr:nth-child(even) {
        background-color: #f9f9f9;
        }
    </style>
</head>
<body>
    <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th>isEnabled</th>
            <!-- <th>Delete</th>
            <th>Edit</th> -->
          </tr>
        </thead>
        <tbody>
          <tr th:each="user : ${users}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td th:text="${user.getRole()}"></td>
            <td th:text="${user.isEnabled()}"></td> 
            <td> 
                <form th:action="@{/admin/delete/{id}(id=${user.getId()})}" th:method="DELETE">
                    <input type="submit" value="Delete">
                </form>
            </td>
            <td>
              <form th:action="@{/admin/edit/{id}(id=${user.getId()})}" th:method="get">
                <input type="submit" value="Edit">
              </form>
          </td>
          </tr>
        </tbody>
      </table>
      <br>
    <form th:action="@{/admin/add-new}" th:method="GET">
        <button type="submit" >Add new user</button>
    </form>
</body>
</html>