<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>

</head>
<body >
     <h1>Hello user</h1> 

     <form th:action="@{/auth/registration}" method="get"> 
     <button type="submit">Sign-in</button>                           
     </form>
      <br>
     <form th:action="@{/auth/login}" method="get">
        <button type="submit">Login</button>         
     </form>

     <br>

     <form th:action="@{/logout}" method="post">
         <button type="submit">Logout</button>
     </form>
     <br>
     <div sec:authorize="hasRole('ADMIN')">
         <form th:action= "@{/admin}" method="get">
            <button type="submit">Admin panel</button>
         </form>
     </div>

     

</body>
</html>